html, body {
	margin:0; padding:0; overflow:hidden ;

	font-family: 'PT Sans', sans-serif;
	letter-spacing: -1px;
}
svg { position:fixed; z-index:0; top:0; left:0; height:100%; width:100% }
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.click {
	cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80vw; /* Could be more or less, depending on screen size */
}

.model-content-big {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90vw; /* Could be more or less, depending on screen size */
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	/*position: absolute;*/
	float:right;
	cursor:pointer;
	/*right: -12px;*/
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #FF0000; }

.text {
}

.inline-color {
	color:#C41E3A;
}


#map { position:relative; transform:translate(5vw,0vw);}
.mapboxgl-popup {
    max-width: 100vw;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.mapboxgl-popup-content {
	background-color:'rgba(255,255,255,0.2)';
	border: none;
}
.popup-img {
	border-radius:5px;
}


ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 30vh;
  margin: 0 1em 1em 0;
  position: relative;
  width: 30vh;
}

span.text-content {
  /*background: rgba(0,0,0,0.5);*/
  color: white;
  cursor: pointer;
  display: table;
  height: 30vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 30vh;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  /*background: rgba(0,0,0,0.5);*/
  color: black;
  cursor: pointer;
  display: table;
  height: 30vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 30vh;
  opacity: 0;
}

ul.img-list li:hover img {
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
} 